<h1>New Snail</h1>

<%= render 'form' %>


<%# <form action="/snails" method="POST" > %>
 <%#  <input type="text" name="snail[name]"> %>
 <%#  <input type="number" name="snail[age]"> %>
<%#   <input type="number" name="snail[slime_level]"> %>
<%#  </form> %>