html{
  margin: 0;
  background-image: url("https://wallpaperaccess.com/full/287027.jpg");
}

#root{
  display: flex;
}

.container{
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  flex-direction: row;
  text-align-last: center;
  justify-content: space-around;
}

.index{
  max-width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorites{
  display: flex;
  max-width: 50vw;
  flex-direction: column;
  align-items: center;
}

.favorites > h1 {
  align-self: center;
}

.card{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  width: 45vw;
  margin-bottom: 10px;
}

.card > img{
  width: 100%;
  transition: opacity 1s;
}

.card:hover > img {
  opacity: .5;
}

.card > h3 {
  transition: font-size 1s;
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card:hover > h3 {
  font-size: 1.75em;
  text-align: center;
}