<h1>Snails#index</h1>
<div class="index-container">

  <% @snails.each do |snail| %>
    <div class="index-tile">
      <h3><%= link_to snail.name, snail_path(snail)  %></h3>
      <img src="<%= snail.img_url %>" alt="<%= snail.name %>" class="index-img">
    </div>
  <% end %>

</div>


