<h1>Snails#index</h1>
<p>Find me in app/views/snails/index.html.erb</p>


<% @snails.each do |snail| %>
  <p><%# link_to snail.name, "/snails/#{snail.id}"  %></p>
  <p><%= link_to snail.name, snail_path(snail.id)  %></p>
<% end %>


